@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // optional: prefer TempData values if present
    var tmpNum = TempData.Peek("TimeSignatureNumerator");
    var tmpDen = TempData.Peek("TimeSignatureDenominator");
    string initNum = tmpNum != null ? tmpNum.ToString() : "4";
    string initDen = tmpDen != null ? tmpDen.ToString() : "4";
}
<div id="pianoDiv" class="notesinfo" style="display:block">
    <div id="lettersdisplay" style="display:block; width:100%" class="hide-mobile">
        <div id="saver" style="display:none">@TempData["Keys"]</div><!--  тимчасове зберігання -->
        <textarea id="pianodisplay" class="d-inline-block" style="width:90%" rows="2" placeholder="@Localizer["PianoPlaceholder"]">@Model.Keys</textarea>
    </div>
    <div id="buttonarea" style="display:block; width:100%">
        <!--СКИНУТИ-->
        <form method="post" asp-page-handler="reset" class="d-inline-block m-1">
            <button type="submit" class="btn-melody">@Localizer["ResetButton"]</button>
        </form>
        <!--ПОШУК-->
        <form id="notesearchForm" method="post" asp-page-handler="notesearch" class="d-inline-block m-1">
            <input type="hidden" name="Keys" id="keysInput-search" /><!--зберігає код натиснутих клавіш у поле Keys-->
            <button id="searchBtn" type="submit" class="btn-melody">@Localizer["SearchButton"]</button><!--відправка через melody-create.js-->
        </form>
        <!--ЗБЕРЕГТИ-->
        <form id="melodyForm" method="post" asp-page-handler="melody" class="d-inline-block m-1">
            <input type="hidden" name="Keys" id="keysInput-save" /><!--зберігає код натиснутих клавіш у поле Keys-->
            <button id="createMIDI" type="submit" class="btn-melody">@Localizer["SaveButton"]</button><!--відправка через melody-create.js-->
        </form>
        <div id="previewMp3path" style="display:none"> @Model.TempMp3FilePath</div>
        @if (TempData["HighlightplayButton"] is not null)
        {
            <button id="melodyPlayBtn" type="submit" class="btn-melody" style="background-color: lightgreen" title="@Localizer["PreviewButton"]" aria-label="@Localizer["PreviewButton"]"><i class="fas fa-play" style="color: green;"></i></button>
        }
        else
        {
            <button id="melodyPlayBtn" type="submit" class="btn-melody" title="@Localizer["PreviewButton"]" aria-label="@Localizer["PreviewButton"]"><i class="fas fa-play" style="color: gray;"></i></button>
        }
    </div>
</div>