@page
@model Melodies25.Pages.Account.ProfileModel
@{
    ViewData["Title"] = "Профіль користувача";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<div class="infocontainer">
    <h2>@Localizer["Profile"]</h2>
    <dl class="row">
        <dt class="col-sm-3">@Localizer["Email"]</dt>
        <dd class="col-sm-9">@Model.Email</dd>
        @* <dt class="col-sm-3">Ім'я користувача</dt>
        <dd class="col-sm-9">@Model.UserName</dd> *@
        <dt class="col-sm-3">@Localizer["Status"]</dt>
        <dd class="col-sm-9">@Model.Role</dd>        
    </dl>

<a class="btn btn-melody" asp-page="/Account/ChangePassword">@Localizer["ChangePassword"]</a>
</div>