@page
@model Melodies25.Pages.Account.UsersModel
@{
    ViewData["Title"] = "User List";
}

<h2>Registered Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Admin</th>
            <th>Confirmation</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Users != null && Model.Roles != null)
        {
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        @foreach (var role in Model.Roles)
                        {
                            @if (Model.UserRoles.Contains(role))
                            {
                                <span>@role</span>

                                <br />
                            }
                        }
                    </td>
                    <td>
                        <!-- Кнопка для надання прав адміністратора -->
                        @if (!Model.UserRoles.Contains("Admin"))
                        {
                            <form method="post" asp-page-handler="AssignAdminRole" asp-route-userId="@user.Id">
                                <button type="submit" class="btn btn-primary">Make Admin</button>
                            </form>
                        }
                        else if (Model.UserRoles.Contains("Admin"))
                        {
                        <form method="post" asp-page-handler="RemoveAdminRole" asp-route-userId="@user.Id">
                            <button type="submit" class="btn btn-primary">Remove Admin</button>
                        </form>
                        }
                    </td>
                    <!-- Кнопка для підтвердження пошти користувача -->
                    <td>
                        @if (!user.EmailConfirmed)
                        {
                            <form method="post" asp-page-handler="ConfirmEmail" asp-route-userId="@user.Id">
                                <button type="submit" class="btn btn-success">Confirm Email</button>
                            </form>
                        }
                        else
                        {
                            <span>Email Confirmed</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
