@page
@model Melodies25.Pages.Melodies.CreateModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
 ViewData["Title"] = Localizer["Title"];
 var melody = @Model.Melody;
 var newMelody = @Model.NewPattern;
 bool fileCreated = string.IsNullOrEmpty(Model.TempMidiFilePath);

}

@section Styles {
 <link rel="stylesheet" href="~/css/notes.css" asp-append-version="true" />
}

<div class="searchcontainer h-100">
 <h1>@Localizer["Heading"]</h1>

 <hr />
</div>

@{
 var message = TempData["Message"] as string;
}
@if (!string.IsNullOrEmpty(message))
{
 <div class="alert alert-info">@message</div>
 }
 <div class="searchcontainer h-100">


 <!--ЛІВОРУЧ-->
 <div class="searchleftcontainer"> 
 <form id="createForm" method="post" asp-page-handler="create" enctype="multipart/form-data">
 <!-- приховане - автор ID -->
 <div id="authorSaver" style="display:none">@Model.TempData["AuthorID"]</div>
 <!-- приховане - назва -->
 <div id="titleSaver" style="display:none">@Model.TempData["Title"]</div> 
 <!-- приховане - послідовність нот -->
 <input type="hidden" asp-for="Keys" id="keysInput-create" />
 <!-- поле завантаження файлу-->
 @if (fileCreated)
 {
 <div class="form-group">
 <div class="input-group">
 <input type="file" id="melodyFileInput" name="fileupload" class="form-control" accept=".mid" />
 </div>
 </div>
 }
 else{
 <div class="form-group">
 <p>@Localizer["FileReadyToSave"]</p>
 </div>

 }
 <!-- тональність -->
 <select asp-for="Melody.Tonality" class="form-control mt-2" asp-items="ViewBag.Tonalities">
 <option value="">@Localizer["TonalityOption"]</option>
 </select>
 <span asp-validation-for="Melody.Tonality" class="text-danger"></span>

 <!-- Назва -->
 <div id="savedTitle" style="display:none"> savedtitle = @TempData["Title"]</div>
 <div class="form-group">
 <label asp-for="Melody.Title" class="control-label" id="titleLabel">@Localizer["TitleLabel"]</label>
 <input id="titleInput" asp-for="Melody.Title" class="form-control" placeholder="@Localizer["TitlePlaceholder"]" /> 
 <span asp-validation-for="Melody.Title" class="text-danger"></span> 
 </div>
 <p id="warning"></p>
 <button id="copyBtn" type="button" onclick="copytitle(event)" 
 class="btn btn-primary btn-outline-dark bg-light" style="display:none">
 @Localizer["CopyFromFile"] </button>
 <!-- Рік -->
 <div class="form-group">
 <label asp-for="Melody.Year" class="control-label">@Localizer["YearLabel"]</label>
 <input asp-for="Melody.Year" class="form-control" />
 <span asp-validation-for="Melody.Year" class="text-danger"></span>
 </div>
 <!-- Примітки -->
 <div class="form-group">
 <label asp-for="Melody.Description" class="control-label">@Localizer["DescriptionLabel"]</label>
 <input asp-for="Melody.Description" class="form-control" />
 <span asp-validation-for="Melody.Description" class="text-danger"></span>
 </div>
 <!-- Автор -->
 <div class="form-group">
 <label asp-for="Melody.AuthorID" class="control-label">@Localizer["AuthorLabel"]</label>

 <input id="authorSearch" type="text" class="form-control" placeholder="@Localizer["AuthorSearchPlaceholder"]" autocomplete="off" />
 
 <input type="hidden" id="authorIdHidden" asp-for="Melody.AuthorID" />

 <div id="authorResults" class="list-group mt-1" style="max-height:240px; overflow-y: auto;"></div>
 <span asp-validation-for="Melody.AuthorID" class="text-danger" id="authorWarning"></span> <!-- Updated to include the id for warnings -->
 </div>
 <!-- СТВОРИТИ -->
 <div id="submitMelodyBtn" class="form-group" style="display:none; margin-top:10px">
 <input type="submit" value="@Localizer["CreateButton"]" class="btn btn-primary btn-outline-dark bg-yellow">
 <p id="midiIsNotReady">@Localizer["MidiNotReady"]</p>
 <p id="midiIsReady" style="display:none">@Localizer["MidiReady"]</p>
 </div>
 </form>
 <!-- ДОДАТИ АВТОРА -->
 <form method="post">
 <div class="form-group" style="margin-top:10px">
 <button id="createAuthorBtn" asp-page-handler="addform" value="@Localizer["AddAuthorButton"]" class="btn btn-outline-dark light-background border-dark m-2 btn-compact-40 align-self-start">@Localizer["AddAuthorButton"]</button>
 </div>
 @if (Model.ShowAuthor)
 {
 <div class="form-group mt-3">
 <label asp-for="TempAuthor" class="control-label">@Localizer["AuthorLabel"]</label>
 <input type="text" id="inputAuthor" asp-for="TempAuthor" class="form-control" placeholder="@Localizer["AddAuthorPlaceholder"]" />
 </div>
 <p id="authorWarning"></p>
 <div class="form-group mt-3">
 <button type="submit" value="@Localizer["AddButton"]" class="btn btn-outline-dark light-background border-dark m-2 btn-compact-40 align-self-start">@Localizer["AddButton"]</button>
 </div>
 }
 </form>
 <a asp-page="Index" class="btn btn-outline-dark light-background border-dark m-2 btn-compact-40 align-self-start">@Localizer["BackToList"]</a>
 </div>
 <!--ПРАВОРУЧ-->

 <div class="searchrightcontainer">
 <div id="openpianoDiv" style="display:none">
 <button style="width:80%; margin:10px" id="openpianoBtn">@Localizer["EnterFromKeyboard"]</button>
 </div>
 
 <!-- ДЛЯ ТРИВАЛОСТЕЙ -->
 @await Html.PartialAsync("_durationsTable")

 <!--МІЙ СТЕЙНВЕЙ-->
 @await Html.PartialAsync("_PianoKeys")


 <!--ТАБЛО НОТ ВНИЗУ -->
 <div id="innerNotesContainer">
 @if (newMelody is not null) 
 {
 @for (int index =0; index < newMelody.Count(); index++)
 {
 var note = newMelody[index];
 string width = $"{note.DisplayWidth(45,20)}px";
 string marginbottom = $"{note.AbsPitch() *2 -10}px";
 if (!@note.Rest)
 {
 <div class="outerNoteBox" style="width:@width; height:10px;">
 <div class="notebox" style="margin-bottom:@marginbottom; width:@width;">
 <span>@note.DurSymbol</span><br>
 </div>
 <span data-index="@index" class="notaname">@note.Name</span>
 </div>
 }
 else
 {
 <div class="outerNoteBox" style="width:@width; height:10px;">
 <div class="notebox pausebox" style="margin-bottom:@marginbottom; width:@width;">
 <span>@note.DurSymbol</span><br>
 </div>
 <span data-index="@index" class="notaname">@note.Name</span>
 </div>
 }
 @await Html.PartialAsync("_options") 
 }
 <script type="module" src="~/js/contextMenu.js"></script>
 }
 else
 {
 <p id="ifNotesEntered">@Localizer["NoNotesEntered"]</p>
 }
 </div>


 <!--КНОПКИ УПРАВЛІННЯ, Нотний рядок і кнопка "Пошук"-->
 @await Html.PartialAsync("_pianoDisplay")

 
 <script type="module" src="~/js/noteTable.js"></script>

 <script>
 console.log("hiding NoteSearch");
 document.getElementById("notesearchForm").style.display = "none";
 document.getElementById("searchBtn").style.display = "none";
 </script>

 <div>@Model.ErrorWarning</div>
 <!--АУДІО-->
 
 <audio id="audioPlayer" controls autoplay style="display: none">
 <source id="audioSource" src="" type="audio/mpeg" />
 Your browser does not support the audio element.
 </audio>
 
 </div>
</div>

@section Scripts {
 @{
 await Html.RenderPartialAsync("_ValidationScriptsPartial");
 }
 <script src="~/js/duplicate.js"></script>
 <script src="~/js/newAuthor.js"></script>
 <script src="~/lib/midirender/mr-durations-helper.js"></script> 
 <script src="~/lib/midirender/live-notation.js" asp-append-version="true"></script>
 <script src="~/js/audioHelpers.js" asp-append-version="true"></script>
 <script src="~/js/melody-create.js" asp-append-version="true"></script>
 <script src="~/js/play.js"></script>
 <script src="~/js/openpiano.js"></script>
 <script src="~/js/authorSearch.js"></script>
}


<!-- АУДІО -->
<!--
<div class="controlcontainer infocontainer">

 <p class="smallfont">@Model.Msg</p>
 
 @if (TempData["AudioFile"] != null)
 {
 <p class="smallfont">@TempData["AudioFile"]</p>
 <audio id="audioPlayer" controls autoplay style="display: none">
 <source src="@TempData["AudioFile"]" type="audio/mpeg" />
 Your browser does not support the audio element.
 </audio>
 }
 else
 {
 <p class="smallfont">File is not ready</p>
 }
</div>
-->







