@page
@model Melodies25.Pages.Melodies.CreateModel

@{
    ViewData["Title"] = "Додати мелодію";
    var melody = @Model.Melody;
    bool fileCreated = string.IsNullOrEmpty(Model.TempFilePath);
}

<h1>Додати пісню</h1>

<hr />

@if (ViewData["Message"] != null)
{
    <div class="alert alert-info">
        @ViewData["Message"]
    </div>
    
}

<div class="searchcontainer h-100">

    <!--ЛІВОРУЧ-->
    <div class="searchleftcontainer">        
        <form method="post" asp-page-handler="create" enctype="multipart/form-data">
            @if (fileCreated)
            {
                <div class="form-group">
                    <div class="input-group">
                    <input type="file" id="melodyFileInput" name="fileupload" class="form-control" accept=".mid" />
                </div>
            </div>
            }
            else{
                <div class="form-group">
                    <p>file is ready to save</p>
                </div>

            }

            <select asp-for="Melody.Tonality" class="form-control mt-2" asp-items="ViewBag.Tonalities">
                <option value="">-- Тональність, в якій завантажено MIDI --</option>
            </select>
            <span asp-validation-for="Melody.Tonality" class="text-danger"></span>

            <div class="form-group">
                <label asp-for="Melody.Title" class="control-label" id="title">Назва</label>
                <input asp-for="Melody.Title" class="form-control" />
                <span asp-validation-for="Melody.Title" class="text-danger"></span>
            </div>
            <p id="warning"></p>
            <div class="form-group">
                <label asp-for="Melody.Year" class="control-label">Рік</label>
                <input asp-for="Melody.Year" class="form-control" />
                <span asp-validation-for="Melody.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Melody.Description" class="control-label">Примітки</label>
                <input asp-for="Melody.Description" class="form-control" />
                <span asp-validation-for="Melody.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Melody.AuthorID" id="selectAuthorLabel" class="control-label">Автор</label>
                <select id="selectAuthor" asp-for="Melody.AuthorID" class="form-control" asp-items="ViewBag.AuthorID">
                </select>
            </div>

            <div id="submitMelodyBtn" class="form-group" style="display:none; margin-top: 10px">
                <input type="submit" value="Створити" class="btn btn-primary btn-outline-dark bg-yellow">
            </div>
        </form>
        <!-- ДОДАТИ АВТОРА -->
        <form method="post">
            <div class="form-group" style="margin-top: 10px">
                <button id="createAuthorBtn" asp-page-handler="addform" value="Додати автора" class="btn btn-primary btn-outline-dark bg-light">Додати автора</button>
            </div>
            @if (Model.ShowAuthor)
            {
                <div class="form-group mt-3">
                    <label asp-for="TempAuthor" class="control-label">Автор</label>
                    <input type="text" id="inputAuthor" asp-for="TempAuthor" class="form-control" placeholder="Додайте ім'я та прізвище" />
                </div>
                <p id="authorWarning"></p>
                <div class="form-group mt-3">
                    <button type="submit" value="Додати автора" class="btn btn-primary btn-outline-dark bg-light">Додати</button>

                </div>
            }
        </form>
        <a asp-page="Index" class="btn btn-primary btn-outline-dark bg-light mt-3">Назад до списку</a>
    </div>
    <!--ПРАВОРУЧ-->

    <div class="searchrightcontainer">
        <div id="openpianoDiv" style="display:none">
            <button style="width:80%; margin:10px" id="openpianoBtn">Ввести з клавіатури</button>
        </div>
        <div id="pianoDiv" class="notesinfo">
            <div id="pianodisplay" class="d-inline-block" style="width:80%">@Model.Keys</div>
            <form method="post" asp-page-handler="reset" class="d-inline-block m-1">
                <button type="submit" class="btn btn-outline-dark">Скинути</button>
            </form>
            <form id="melodyForm" method="post" asp-page-handler="melody" class="d-inline-block m-1">
                <input type="hidden" name="Keys" id="keysInput" />
                <button id="createMIDI" type="submit" class="btn btn-outline-dark">Зберегти</button>
            </form>
        </div>


        <!--МІЙ СТЕЙНВЕЙ-->
        <div id="stainway" class="controlcontainer">
            <form id="pianoroll">
                <button type="button" data-key="c" class="whitepianobutton">C1</button>
                <button type="button" data-key="cis" class="blackpianobutton cis1">Cis1</button>
                <button type="button" data-key="d" class="whitepianobutton">D1</button>
                <button type="button" data-key="dis" class="blackpianobutton dis1">Dis1</button>
                <button type="button" data-key="e" class="whitepianobutton">E1</button>
                <button type="button" data-key="f" class="whitepianobutton">F1</button>
                <button type="button" data-key="fis" class="blackpianobutton fis1">Fis1</button>
                <button type="button" data-key="g" class="whitepianobutton">G1</button>
                <button type="button" data-key="gis" class="blackpianobutton gis1">Gis1</button>
                <button type="button" data-key="a" class="whitepianobutton">A1</button>
                <button type="button" data-key="b" class="blackpianobutton b1">B1</button>
                <button type="button" data-key="h" class="whitepianobutton">H1</button>
                <button type="button" data-key="c'" class="whitepianobutton">C2</button>
                <button type="button" data-key="cis'" class="blackpianobutton cis2">Cis2</button>
                <button type="button" data-key="d'" class="whitepianobutton">D2</button>
                <button type="button" data-key="dis'" class="blackpianobutton dis2">Dis2</button>
                <button type="button" data-key="e'" class="whitepianobutton">E2</button>
                <button type="button" data-key="f'" class="whitepianobutton">F2</button>
                <button type="button" data-key="fis'" class="blackpianobutton fis2">Fis2</button>
                <button type="button" data-key="g'" class="whitepianobutton">G2</button>
                <button type="button" data-key="gis'" class="blackpianobutton gis2">Gis2</button>
                <button type="button" data-key="a'" class="whitepianobutton">A2</button>
                <button type="button" data-key="b'" class="blackpianobutton b2">B2</button>
                <button type="button" data-key="h'" class="whitepianobutton">H2</button>
                <button type="button" data-key="c''" class="whitepianobutton">C3</button>
            </form>

        </div>
        <!--ТАБЛО НОТ ВНИЗУ -->
        <div id="innerNotesContainer">
            @if (@melody.MidiMelody is not null)
            {
                @foreach (var note in @melody.MidiMelody.Notes)
                {
                    string width = $"{note.DisplayWidth(45, 20)}px";
                    string marginbottom = $"{note.AbsPitch() * 2 - 10}px";
                    <div class="outerNoteBox" style="width:@width; height:10px;">
                        <div class="notebox" style="margin-bottom:@marginbottom; width:@width;">
                            <span>@note.DurSymbol</span><br>
                        </div>
                        <span class="notaname">@note.Name</span>
                    </div>
                }
            }
            else
            {
                <p>no notes have been entered</p>
            }
        </div>
        <!--АУДІО-->
        
        <audio id="audioPlayer" controls autoplay style="display: none">
            <source id="audioSource" src="" type="audio/mpeg" />
            Your browser does not support the audio element.
        </audio>
        
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/duplicate.js"></script>
    <script src="~/js/newAuthor.js"></script>
    <script src="~/js/createMelody.js"></script>
    <script src="~/js/play.js"></script>
    <script src="~/js/openpiano.js"></script>
}


<!-- АУДІО   -->
<!--
<div class="controlcontainer infocontainer">

    <p class="smallfont">@Model.Msg</p>
    
    @if (TempData["AudioFile"] != null)
    {
        <p class="smallfont">@TempData["AudioFile"]</p>
        <audio id="audioPlayer" controls autoplay style="display: none">
            <source src="@TempData["AudioFile"]" type="audio/mpeg" />
            Your browser does not support the audio element.
        </audio>
    }
    else
    {
        <p class="smallfont">File is not ready</p>
    }
</div>
-->




