@page
@model Melodies25.Pages.Melodies.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Вилучення</h1>

<h3>Чи впевнені, що хочете вилучити?</h3>
<div>
    <h4>Мелодія</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Melody.Filepath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Melody.Filepath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Melody.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Melody.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Melody.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Melody.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Melody.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Melody.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Melody.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Melody.Author.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Melody.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад до списку</a>
    </form>
</div>
