@page
@model Melodies25.Pages.Melodies.DetailsModel

@{
    ViewData["Title"] = "Мелодія";
}

<h1>Детальна інформація</h1>

<div>
    <h4>Мелодія</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Файл
        </dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.Melody.Filepath))
            {
                var filepath = Url.Content($"~/melodies/{Model.Melody.Filepath}");
                Console.WriteLine($"filepath = {filepath}");
                <div style="display:inline-flex">
                    <a href="@filepath" download class="btn btn-primary">
                        <i class="fas fa-download"></i> 
                    </a>

                    <form method="post">
                        <button type="submit" asp-page-handler="Play" asp-route-path="@filepath" class="btn btn-success">Відтворити MIDI</button>
                    </form>
                </div>
            }
            else
            {
                <span>Файл не доступний</span>
            }
        </dd>
        <dt class="col-sm-2">
            Назва
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Melody.Title)
        </dd>
        <dt class="col-sm-2">
            Рік
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Melody.Year)
        </dd>
        <dt class="col-sm-2">
            Примітки
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Melody.Description)
        </dd>
        <dt class="col-sm-2">
            Автор
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Melody.Author.Surname)  @Html.DisplayFor(model => model.Melody.Author.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Melody.ID">Редагувати</a> |
    <a asp-page="./Index">Назад до списку мелодій</a>
</div>
