@page
@model Melodies25.Pages.Melodies.DetailsModel

@{
    ViewData["Title"] = "Мелодія";
    var item = Model.Melody;
}

<h1>@item.Title</h1>

<div>
    @if (@item.Author is not null && !@item.Author.Surname.Contains("народна"))
    {
        <h4>автор - <a asp-page="/Authors/Details" asp-route-id="@item.AuthorID">@item.Author.Name @item.Author.Surname</a></h4>
        <p>(@item.Author.DateOfBirth - @item.Author.DateOfDeath)</p>
    }
    else
    {
        <p>@item.Author.Surname</p>

    }
    @if (item.Year is not null)
    {
        <p>Написана у @item.Year році</p>
    }
</div>

<hr />
<div class="container">

    @if (!string.IsNullOrEmpty(item.Filepath))
    {
        var midifilepath = Url.Content($"~/melodies/{item.Filepath}");
        var mp3filepath = Url.Content($"~/mp3/{item.Mp3Filepath}");

        <div style="display:inline-flex">

            <audio id="audioPlayer_@item.Filepath" class="audioPlayer" controls style="display: inline; width:500px;">
                <source src="@mp3filepath" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
            <a href="@midifilepath" download class="btn btn-outline-dark light-background">
                Завантажити Midi <i class="fas fa-download"></i>
            </a>
            <a href="@mp3filepath" download class="btn btn-outline-dark light-background">
                Завантажити mp3 <i class="fas fa-download"></i>
            </a>

        </div>
    }
    else
    {
        <span>Файл не доступний</span>
    }


    <hr />

    <div class="notescontainer">
        @if (@item.MidiMelody is null)
        {

            <form method="post">
                <button type="submit">Порахувати статистику</button>
            </form>

        }
        else
        {
            <h3>Нот у мелодії - @item.MidiMelody.Notes.Count </h3>
            <div>
                @foreach (var note in @item.MidiMelody.Notes)
                {
                    <div class="notebox">
                    <text>@note.DurSymbol</text><br>
                        <text>@note.Name()</text>                    
                    </div>
                }
            </div>
            
            <h3>Тривалості</h3>
            <p>
                @foreach (var note in @item.MidiMelody.Notes)
                {
                    <text>
                        <text> @note.Duration.RelDuration() [@note.AbsDuration()]</text>
                    </text>
                }
            </p>

            <h3>Інтервальний ряд у півонах</h3>
            <p>
                @foreach (var interval in @item.MidiMelody.IntervalList)
                {
                    <text>
                        <text>@interval </text>
                    </text>
                }
            </p>
            <h3>Дієзність (beta)</h3>
            <p>
                @foreach (var note in @item.MidiMelody.Notes)
                {
                    <text>
                        <text>@note.Sharpness </text>
                    </text>
                }
            </p>

        }
        }
    </div>

    <p>@item.Description</p>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Melody.ID" class="link-dark">Редагувати</a>
    <a asp-page="./Index" class="link-dark">Назад до списку мелодій</a>
</div>
<script src="~/js/play.js"></script>
