@page
@model Melodies25.Pages.Melodies.DetailsModel

@{
    ViewData["Title"] = "Мелодія";
    var item = Model.Melody;
}

<h1>@item.Title</h1>

<div>
    @if (@item.Author is not null && !@item.Author.Surname.Contains("народна"))
    {
        <h4>автор - @item.Author.Name @item.Author.Surname</h4>
    }
    else
    {
        <h4>@item.Author.Surname</h4>
    }

    <hr />
    <div class="container">

        @if (!string.IsNullOrEmpty(item.Filepath))
        {
            var midifilepath = Url.Content($"~/melodies/{item.Filepath}");
            var mp3filepath = Url.Content($"~/mp3/{item.Mp3Filepath}");

            <div style="display:inline-flex">

                <audio id="audioPlayer_@item.Filepath" class="audioPlayer" controls style="display: inline; width:500px;">
                    <source src="@mp3filepath" type="audio/mpeg" />
                    Your browser does not support the audio element.
                </audio>
                <a href="@midifilepath" download class="btn btn-outline-dark light-background">
                    Завантажити Midi <i class="fas fa-download"></i>
                </a>
                <a href="@mp3filepath" download class="btn btn-outline-dark light-background">
                    Завантажити mp3 <i class="fas fa-download"></i>
                </a>
               
            </div>
        }
        else
        {
            <span>Файл не доступний</span>
        }


        <hr />
        @if (item.Year is not null)
        {
            <p>Написана у @item.Year році</p>
        }

        @if (@item.MidiMelody is null)
        {

            <form method="post">
                <button type="submit">Порахувати статистику</button>
            </form>

        }
        else
        {
            <p>Нот у мелодії - @item.MidiMelody.Notes.Count </p>
            Music.Globals.lng = Music.LNG.uk;
            Music.Globals.notation = Music.Notation.eu;
            <p>
                @foreach (var note in @item.MidiMelody.Notes)
                {
                    <text>
                        @note.Name(); 
                    - </text>
                }
            </p>


        }

        <p>@item.Description</p>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Melody.ID" class="link-dark">Редагувати</a>
        <a asp-page="./Index" class="link-dark">Назад до списку мелодій</a>
    </div>
    <script src="~/js/play.js"></script>
