@page
@model Melodies25.Pages.Melodies.EditModel

@{
    ViewData["Title"] = "Мелодія - Редагування";
    var melody = @Model.Melody;
}

@section Styles {
    <link rel="stylesheet" href="~/css/notes.css" asp-append-version="true" />
}
<div class="row infocontainer">
<h1>@melody.Author.Name - @melody.Title</h1>
    <h4>@melody.Author.NameEn - @melody.TitleEn</h4>

<h4></h4>
<hr />

    <div class="halfpagecontainer">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Melody.ID" />
            <!--ФАЙЛИ-->
            @if (Model.Melody.FilePath is null)
            {
                <div class="form-group">
                    <div class="input-group">
                        <input type="file" id="melodyFileInput" name="fileupload" class="form-control" accept=".mid" />
                    </div>
                </div>
            }
            else
            {
                <p class="fileinfo">Поточний файл - @Model.Melody.FilePath</p>

                <button type="submit" class="btn btn-danger" asp-page-handler="DeleteFile">
                    Видалити файл
                </button>
            }
            @if (@Model.Melody.Mp3Filepath is not null)
            {
                <p class="fileinfo">Поточний mp3 файл - @Model.Melody.Mp3Filepath</p>

                
                <button type="submit" asp-page-handler="update" asp-route-id="@Model.Melody.ID" class="btn btn-outline-dark light-background">
                        Оновити mp3 <i class="fas fa-refresh"></i>
                </button>
                
            }
            <!--ТОНАЛЬНІСТЬ-->
            <div class="form-group">
                <label asp-for="Melody.Tonality" class="control-label">Тональність (MIDI-файлу)</label>
                <select asp-for="Melody.Tonality" class="form-control" asp-items="ViewBag.Tonalities" >
                    <option value="">-- Тональність, в якій завантажено MIDI --</option>
                </select>
                <span asp-validation-for="Melody.Tonality" class="text-danger"></span>
            </div>
            <div style="display:flex; gap:8px; align-items:center">
                <button id="getTonality" type="button" class="btn btn-outline-dark light-background">Визначити<span class="ifnarrowscreen"> за MIDI-файлом</span></button>
            <button id="paralellTonality" type="button" class="btn btn-outline-dark light-background">Паралельна</button>            
            </div>
            <!--ТЕМП-->
            <div class="form-group">
                <label asp-for="Melody.MidiMelody.Tempo" class="control-label">Темп</label>
                <input id="tempoChange" asp-for="@Model.Tempo" class="form-control" />
                <input type="hidden" asp-for="@Model.Tempocorrected" id="tempoChangeHidden" />                
                <span asp-validation-for="@Model.Tempo" class="text-danger"></span>
            </div>
            <!--МЕТАДАНІ-->
            <div class="form-group">
                <label asp-for="Melody.Title" class="control-label">Назва</label>
                <input asp-for="Melody.Title" class="form-control" />
                <span asp-validation-for="Melody.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Melody.Title" class="control-label">Name</label>
                <input asp-for="Melody.Title" class="form-control" />
                <span asp-validation-for="Melody.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Melody.Year" class="control-label">Рік</label>
                <input asp-for="Melody.Year" class="form-control" />
                <span asp-validation-for="Melody.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Melody.Description" class="control-label">Примітки</label>
                <input asp-for="Melody.Description" class="form-control" />
                <span asp-validation-for="Melody.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Melody.AuthorID" class="control-label">Автор</label>
                <select asp-for="Melody.AuthorID" class="form-control" asp-items="ViewBag.AuthorID">
                    <option value="">-- Оберіть автора --</option>
                </select>
                <span asp-validation-for="Melody.AuthorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Melody.ID" />
                <input type="hidden" asp-for="Melody.FilePath" />
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
           
        </form>
    </div>
</div>


<div>
    <a asp-page="./Index" class="btn btn-dark btn-outline-dark light-background">Назад до списку</a>
    <a asp-page="./Details" asp-route-id="@Model.Melody.ID" class="btn btn-outline-dark light-background">Детальна інформація</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/melody-edit.js"></script>
}