@page
@model Melodies25.Pages.Melodies.IndexModel

@{
    ViewData["Title"] = "Мелодії в Базі даних";
    var message = TempData["Message"];
    if (message != null)
    {
        <script>
            alert('@message');
        </script>
    }
}

<h1>Мелодії в Базі даних</h1>

<a asp-page="search">Розширений пошук</a>

<p>
    <a asp-page="Create">Додати мелодію</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th>
                Файл
            </th>            
            <th>
                Рік
            </th>            
            <th>
                Автор
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Melody) {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ID" class="link-dark">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Filepath))
                    {
                        var filepath = Url.Content($"~/melodies/{item.Filepath}");
                        Console.WriteLine($"filepath = {filepath}");
                        <div style="display:inline-flex">
                        <a href="@filepath" download class="btn btn-primary">Завантажити MIDI</a>
                        <form method="post">
                            <button type="submit" asp-page-handler="Play" asp-route-path="@filepath" class="btn btn-success">Відтворити MIDI</button>
                        </form>
                        </div>
                    }
                    else
                    {
                        <span>Файл не доступний</span>
                    }
                </td>            
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>            
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Name) @Html.DisplayFor(modelItem => item.Author.Surname)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="link-dark">Редагуватти</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="link-danger">Вилучити</a>
            </td>
            </tr>
        }
    </tbody>
</table>


