@page
@model Melodies25.Pages.Melodies.IndexModel

@{
    ViewData["Title"] = "Мелодії в Базі даних";
    var message = TempData["Message"];
    if (message != null)
    {
        <script>
            alert('@message');
        </script>
    }
}

<h1>Мелодії в Базі даних</h1>

<a asp-page="search" class="btn btn-outline-dark light-background border-dark">Розширений пошук</a>
<a asp-page="Create" class="btn btn-outline-dark light-background border-dark m-4">Додати мелодію</a>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@(Model.TitleSort)" class="link-light">
                    Назва  @(Model.TitleSort == "title_asc" ? "▲" : "▼")
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@(Model.AuthorSort)" class="link-light">
                    Автор @(Model.AuthorSort == "title_asc" ? "▲" : "▼")
                </a>
            </th>
            <th>
                Файл
            </th>
            
            <th>Редагувати/Вилучити</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Melody)
        {
            <tr>
                <!--НАЗВА-->
                <td>
                    
                    <a asp-page="./Details" asp-route-id="@item.ID" class="link-dark">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <!--АВТОР-->
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Name) @Html.DisplayFor(modelItem => item.Author.Surname)
                </td>
                <!--ФАЙЛ-->
                <td>
                    @if (!string.IsNullOrEmpty(item.Filepath))
                    {
                        var midifilepath = Url.Content($"~/melodies/{item.Filepath}");
                        var mp3filepath = Url.Content($"~/mp3/{item.Mp3Filepath}");
                        <div style="display:inline-flex">
                            <a href="@midifilepath" download class="btn btn-outline-dark light-background">
                                <i class="fas fa-download"></i>
                            </a>
                            @if (@item.IsFileEligible is null)
                            {
                                <button class="btn btn-outline-dark light-background playbutton"
                                        data-filepath="@item.Filepath" id="playButton_@item.Filepath">
                                    <i class="fas fa-play">?</i>
                                </button>
                                <button id="stopButton_@item.Filepath" disabled="disabled"
                                        class="stopButton btn btn-outline-dark light-background">
                                    <i class="fas fa-stop">?</i>
                                </button>
                            }
                            else if (@item.IsFileEligible is true)
                            {
                                <button class="btn btn-outline-dark light-background playbutton"
                                        data-filepath="@item.Filepath" id="playButton_@item.Filepath">
                                    <i class="fas fa-play"></i>
                                </button>                           
                                <button id="stopButton_@item.Filepath" disabled="disabled"
                                    class="stopButton btn btn-outline-dark light-background">
                                <i class="fas fa-stop"></i>
                                </button>
                            }                           
                            else if (@item.IsFileEligible is false)
                            {
                               <p>Midi File is not correct</p>
                            }
                            <audio id="audioPlayer_@item.Filepath" class="audioPlayer" controls style="display: none">
                                <source src="@mp3filepath" type="audio/mpeg" />
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                    }
                    else
                    {
                        <span>Файл не доступний</span>
                    }
                </td>
                
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="link-dark"><i class="fas fa-edit"></i></a>
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="link-danger" style="margin-left:50px"><i class="fas fa-remove"></i></a>
                    

                </td>
            </tr>
        }
    </tbody>
</table>
<form method="post">
    <button type="submit">Refresh</button>
</form>
<div class="controlcontainer infocontainer">

    <p>@Model.Msg</p>
    <p>@Model.Errormsg</p>
  
</div>

<script src="~/js/play.js">
    
</script>
    