@page
@model Melodies25.Pages.Melodies.IndexModel

@{
    ViewData["Title"] = "Мелодії в Базі даних";
    var message = TempData["Message"];
    if (message != null)
    {
        <script>
            alert('@message');
        </script>
    }
}

<h1>Мелодії в Базі даних</h1>

<a asp-page="search" class="btn btn-outline-dark light-background border-dark">Розширений пошук</a>
<a asp-page="Create" class="btn btn-outline-dark light-background border-dark m-4">Додати мелодію</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>                       
            <th>
                Автор
            </th>
            <th>
                Файл
            </th>
            
            <th>Редагувати/Вилучити</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Melody)
        {
            <tr>
                <td>
                    <!--НАЗВА-->
                    <a asp-page="./Details" asp-route-id="@item.ID" class="link-dark">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td><!--АВТОР-->
                    @Html.DisplayFor(modelItem => item.Author.Name) @Html.DisplayFor(modelItem => item.Author.Surname)
                </td>                
                <td><!--ФАЙЛ-->
                    @if (!string.IsNullOrEmpty(item.Filepath))
                    {
                        var filepath = Url.Content($"~/melodies/{item.Filepath}");
                        <div style="display:inline-flex">
                            <a href="@filepath" download class="btn btn-outline-dark light-background">
                                <i class="fas fa-download"></i>
                            </a>
                            <form method="post">
                                <button type="submit"  asp-page-handler="Play" asp-route-midiPath="@item.Filepath" 
                                class="btn btn-outline-dark light-background playbutton"
                                        data-filepath="@item.Filepath">
                                    <i class="fas fa-play"></i>
                                </button>
                            </form>
                            <button id="@item.Filepath" disabled="disabled" 
                            class="stopButton btn btn-outline-dark light-background">
                            <i class="fas fa-stop"></i></button>
                        </div>
                    }
                    else
                    {
                        <span>Файл не доступний</span>
                    }
                </td>                                           
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="link-dark"><i class="fas fa-edit"></i></a>
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="link-danger" style="margin-left:50px"><i class="fas fa-remove"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="controlcontainer infocontainer">

    <p>@Model.Msg</p>
    <p>@Model.Errormsg</p>
    @if (TempData["AudioFile"] != null)
    {
        <p>@TempData["AudioFile"]</p>
        <audio id="audioPlayer" controls autoplay style="display: none">
            <source src="@TempData["AudioFile"]" type="audio/mpeg" />
            Your browser does not support the audio element.
        </audio>
    }
    else
    {
        <p>File is not ready</p>
    }
</div>

<script src="~/js/play.js">
    
</script>
    