@page
@model Melodies25.Pages.Melodies.IndexModel

@{
    ViewData["Title"] = "Index";
    var message = TempData["Message"];
    if (message != null)
    {
        <script>
            alert('@message');
        </script>
    }
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th>
                Файл
            </th>            
            <th>
                Рік
            </th>
            <th>
                Опис
            </th>
            <th>
                Автор
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Melody) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Filepath))
                    {
                        var filepath = Url.Content($"~/melodies/{item.Filepath}");
                        Console.WriteLine($"filepath = {filepath}");
                        <div style="display:inline-flex">
                        <a href="@filepath" download class="btn btn-primary">Завантажити MIDI</a>
                        <form method="post">
                            <button type="submit" asp-page-handler="Play" asp-route-path="@filepath" class="btn btn-success">Відтворити MIDI</button>
                        </form>
                        </div>
                    }
                    else
                    {
                        <span>Файл не доступний</span>
                    }
                </td>

            
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name) @Html.DisplayFor(modelItem => item.Author.Surname)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


