@page
@model Melodies25.Pages.Melodies.SearchModel

@{
    ViewData["Title"] = "Мелодія - пошук";
    var melodyPattern = ViewData["melodypattern"] as List<string>;
    var matchedMelodiesCount = ViewData["matchedMelodiesCount"] as int? ?? 0;

}

<h1>Пошук</h1>
<div class="searchcontainer h-100">

    <!--ЛІВОРУЧ-->

    <div class="searchleftcontainer">
        <form method="post" asp-page-handler="search">
            <label>Автор</label>
            <input type="text" asp-for="Author" class="form-control w-75" placeholder="шукати серед усіх" />

            <label>Назва</label>
            <input type="text" asp-for="Title" class="form-control w-75" placeholder="шукати серед усіх" />

            <div class="form-check mt-2">
                <input type="checkbox" id="ifPartly" asp-for="IfPartly" class="form-check-input" />
                <label class="form-check-label" for="ifPartly">Частковий збіг</label>
            </div>

            <label>Починається з ноти...</label>


            <select asp-for="Note" class="form-control w-75">
                <option value="" selected disabled>(будь-яка)</option>
                <option value="c">до</option>
                <option value="cis">до♯ / ре♭</option>
                <option value="d">ре</option>
                <option value="dis">ре♯ / мі♭</option>
                <option value="e">мі</option>
                <option value="f">фа</option>
                <option value="fis">фа♯ / соль♭</option>
                <option value="g">соль</option>
                <option value="gis">соль♯ / ля♭</option>
                <option value="a">ля</option>
                <option value="ais">ля♯ / сі♭</option>
                <option value="h">сі</option>
            </select>
            <button type="submit" class="btn btn-primary">Пошук</button>
        </form>
    </div>

    <!--ПРАВОРУЧ-->
    <div class="searchrightcontainer">
        <!--КНОПКИ УПРАВЛІННЯ І Нотний рядок-->
        @await Html.PartialAsync("_pianoDisplay")

        <!--МІЙ СТЕЙНВЕЙ-->
        @await Html.PartialAsync("_PianoKeys")

        <!-- ДЛЯ ТРИВАЛОСТЕЙ -->
        @await Html.PartialAsync("_durationsTable")

        <!--ТАБЛО НОТ ВНИЗУ -->
        <div id="innerNotesContainer">
            @if (@Model.NewPattern is not null)
            {
                @for (int index = 0; index < @Model.NewPattern.Count(); index++)
                {
                    var note = @Model.NewPattern[index];
                    string width = $"{note.DisplayWidth(45, 20)}px";
                    string marginbottom = $"{note.AbsPitch() * 2 - 10}px";
                    if (!@note.Rest)
                    {
                        <div class="outerNoteBox" style="width:@width; height:10px;">
                            <div class="notebox" style="margin-bottom:@marginbottom; width:@width;">
                                <span>@note.DurSymbol</span><br>
                            </div>
                            <span data-index="@index" class="notaname">@note.Name</span>
                        </div>
                    }
                    else
                    {
                        <div class="outerNoteBox" style="width:@width; height:10px;">
                            <div class="notebox pausebox" style="margin-bottom:@marginbottom; width:@width;">
                                <span>@note.DurSymbol</span><br>
                            </div>
                            <span data-index="@index" class="notaname">@note.Name</span>
                        </div>
                    }
                    @await Html.PartialAsync("_options")
                }
                <script type="module" src="~/js/contextMenu.js"></script>
            }
            else
            {
                <p>no notes have been entered</p>
            }
        </div>
        <script type="module" src="~/js/noteTable.js"></script>

        <div>@Model.ErrorWarning</div>

        <script>
            console.log("hiding NoteSearch");
            document.getElementById("melodyForm").style.display = "none";
            document.getElementById("createMIDI").style.display = "none";
        </script>
        <!--АУДІО-->

        <audio id="audioPlayer" controls autoplay style="display: none">
            <source id="audioSource" src="" type="audio/mpeg" />
            Your browser does not support the audio element.
        </audio>

    </div>
</div>


<!-- ОПИС СПІВПАДІННЯ -->
<div class="notescontainer">
    @if (melodyPattern != null)
    {
        <p>Введено мелодію:
            @foreach (var notes in melodyPattern)
            {
                <text>@notes </text>
            }
        </p>
    }
</div>

<!-- ВІДОБРАЖЕННЯ  МЕЛОДІЇ ЩО ЗБІГАЄТЬСЯ-->
<div class="notescontainer">
    @for (int i = 0; i < matchedMelodiesCount; i++)
    {
        var songPattern = ViewData[$"songpattern{i}"] as List<string>;
        var title = Model.MatchedMelodies[i].melody.Title;
        var startposition = Model.MatchedMelodies[i].position;
        var length = Model.MatchedMelodies[i].commonLength;
        var endposition = startposition + length;

        if (songPattern != null)
        {
            var @melodyId = $"melody{i}";
            <div id="@melodyId">
                <p>@title</p>
                <p>
                @for(int j = 0; j<songPattern.Count; j++)
                {
                    if(j>=startposition && j<endposition)
                    {
                        <span style="color:darkmagenta">@songPattern[j]</span>
                    }
                    else
                    {
                    <text>@songPattern[j] </text>
                    }
                }
                </p>
                 @* <p>@string.Join(", ", songPattern)</p>  *@
            </div>
        }
        else
        {
            <p>Мелодія @i не знайдена.</p>
        }
    }
</div>


<!--ВЕРСІЯ ДЛЯ ОДНІЄЇ МЕЛОДІЇ -->

@* @if (songPattern != null)
{
    <p>Інтервали у пісні:</p>
    <p>
        @foreach (var interval in songPattern)
        {
            <text>@interval </text>
        }
    </p>
}
 *@

<!-- ТАБЛИЦЯ РЕЗУЛЬТАТІВ -->

<p>@Model.Description</p>
<table class="table">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Автор</th>
            <th>Файл</th>
            @if (Model.NoteSearch is true)
            {
                <th>Довжина <br>збігу</th>
                <th>на позиції</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model.MatchedMelodies is not null && Model.MatchedMelodies.Count > 0 && Model.NoteSearch is true)
        {
            <!--якщо пошук за нотами-->
            @foreach (var (item, matchLength, position) in Model.MatchedMelodies)
            {
                <tr>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.ID" class="link-dark">@Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                    <!--Автор-->
                    <td>@Html.DisplayFor(modelItem => item.Author.Name) @Html.DisplayFor(modelItem => item.Author.Surname)</td>
                    <!--файл-->
                    <td>
                        @if (!string.IsNullOrEmpty(item.FilePath))
                        {
                            var midifilepath = Url.Content($"~/melodies/{item.FilePath}");
                            var mp3filepath = Url.Content($"~/mp3/{item.Mp3Filepath}");
                            <div style="display:inline-flex">
                                <a href="@midifilepath" download class="btn btn-outline-dark light-background">
                                    <i class="fas fa-download"></i>
                                </a>
                                <form method="post">
                                    <button type="submit" asp-page-handler="Play" asp-route-midiPath="@item.FilePath"
                                            class="btn btn-outline-dark light-background playbutton"
                                            data-filepath="@item.FilePath" id="playButton_@item.FilePath">
                                        <i class="fas fa-play"></i>
                                    </button>
                                </form>
                                <button id="stopButton_@item.FilePath" disabled="disabled"
                                        class="stopButton btn btn-outline-dark light-background">
                                    <i class="fas fa-stop"></i>
                                </button>
                                <audio id="audioPlayer_@item.FilePath" class="audioPlayer" controls style="display: none">
                                    <source src="@mp3filepath" type="audio/mpeg" />
                                    Your browser does not support the audio element.
                                </audio>
                            </div>
                        }
                        else
                        {
                            <span>Файл не доступний</span>
                        }
                    </td>
                    <td>@matchLength</td> @* Відображаємо довжину збігу *@
                    <td>@position</td> @* На якій позиції співпадає *@
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID" class="link-dark"><i class="fas fa-edit"></i></a>
                        <a asp-page="./Delete" asp-route-id="@item.ID" class="link-danger" style="margin-left:50px"><i class="fas fa-remove"></i></a>
                    </td>
                </tr>
            }
        }
        else if (Model.Melody is not null && Model.Melody.Count > 0 && Model.NoteSearch is false)
        {
            <!--якщо пошук за назвами-->
            @foreach (var item in Model.Melody)
            {
                <tr>
                    <!--Назва-->
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.ID" class="link-dark">@Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                    <!--Автор-->
                    <td>@Html.DisplayFor(modelItem => item.Author.Name) @Html.DisplayFor(modelItem => item.Author.Surname)</td>
                    <!--Файл-->
                    <td>
                        @if (!string.IsNullOrEmpty(item.FilePath))
                        {
                            var midifilepath = Url.Content($"~/melodies/{item.FilePath}");
                            var mp3filepath = Url.Content($"~/mp3/{item.Mp3Filepath}");
                            <div style="display:inline-flex">
                                <a href="@midifilepath" download class="btn btn-outline-dark light-background">
                                    <i class="fas fa-download"></i>
                                </a>
                                <form method="post">
                                    <button type="submit" asp-page-handler="Play" asp-route-midiPath="@item.FilePath"
                                            class="btn btn-outline-dark light-background playbutton"
                                            data-filepath="@item.FilePath" id="playButton_@item.FilePath">
                                        <i class="fas fa-play"></i>
                                    </button>
                                </form>
                                <button id="stopButton_@item.FilePath" disabled="disabled"
                                        class="stopButton btn btn-outline-dark light-background">
                                    <i class="fas fa-stop"></i>
                                </button>
                                <audio id="audioPlayer_@item.FilePath" class="audioPlayer" controls style="display: none">
                                    <source src="@mp3filepath" type="audio/mpeg" />
                                    Your browser does not support the audio element.
                                </audio>
                            </div>
                        }
                        else
                        {
                            <span>Файл не доступний</span>
                        }
                    </td>

                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID" class="link-dark"><i class="fas fa-edit"></i></a>
                        <a asp-page="./Delete" asp-route-id="@item.ID" class="link-danger" style="margin-left:50px"><i class="fas fa-remove"></i></a>
                    </td>
                </tr>
            }

        }

        else
        {
            <!--якщо нічого не знайдено-->

            <tr><td>@Model.Description</td></tr>

        }
    </tbody>
</table>


<!-- АУДІО   -->

<div class="controlcontainer infocontainer">

    <p class="smallfont">@Model.Msg</p>
    <p>@Model.ErrorWarning</p>
    @if (TempData["AudioFile"] != null)
    {
        <p class="smallfont">@TempData["AudioFile"]</p>
        <audio id="audioPlayer" controls autoplay style="display: none">
            <source src="@TempData["AudioFile"]" type="audio/mpeg" />
            Your browser does not support the audio element.
        </audio>
    }
    else
    {
        <p class="smallfont">File is not ready</p>
    }
</div>

<script src="~/js/play.js"></script>
<script src="~/js/searchResults.js"></script>
<script src="~/js/createMelody.js"></script>