@page
@model Melodies25.Pages.Melodies.SearchModel
@{
}
@{
    ViewData["Title"] = "Мелодія - пошук";
}

<h1>Пошук</h1>
<div class="searchcontainer">

    <!--ЛІВОРУЧ-->

    <div class="searchleftcontainer">
        <form method="post" asp-page-handler="search">
            <label>Автор</label>
            <input type="text" asp-for="Author" class="form-control w-75" placeholder="шукати серед усіх" />

            <label>Назва</label>
            <input type="text" asp-for="Title" class="form-control w-75" placeholder="шукати серед усіх" />

            <div class="form-check mt-2">
                <input type="checkbox" id="ifPartly" asp-for="IfPartly" class="form-check-input" />
                <label class="form-check-label" for="ifPartly">Частковий збіг</label>
            </div>

            <label>Починається з ноти...</label>


            <select asp-for="Note" class="form-control w-75">
                <option value="" selected disabled>(будь-яка)</option>
                <option value="c">до</option>
                <option value="cis">до♯ / ре♭</option>
                <option value="d">ре</option>
                <option value="dis">ре♯ / мі♭</option>
                <option value="e">мі</option>
                <option value="f">фа</option>
                <option value="fis">фа♯ / соль♭</option>
                <option value="g">соль</option>
                <option value="gis">соль♯ / ля♭</option>
                <option value="a">ля</option>
                <option value="ais">ля♯ / сі♭</option>
                <option value="h">сі</option>
            </select>
            <button type="submit" class="btn btn-primary">Пошук</button>
        </form>
    </div>

    <!--ПРАВОРУЧ-->

    <div class="searchrightcontainer">
        <div class="notesinfo d-inline-flex">
            <div class="d-inline-block" style="width:80%">@Model.Keys</div>
            <form method="post" asp-page-handler="reset" class="d-inline-block m-1">
                <button type="submit" class="btn btn-outline-dark">Reset</button>
            </form>
            <form method="post" asp-page-handler="notesearch" class="d-inline-block m-1">
                <button type="submit" class="btn btn-outline-dark">Search</button>
            </form>
        </div>
        <!--МІЙ СТЕЙНВЕЙ-->
        <div class="controlcontainer">
            <form method="post" asp-page-handler="piano" id="pianoroll">
                <button type="submit" asp-route-key="c" class="whitepianobutton">C1</button>
                <button type="submit" asp-route-key="cis" class="blackpianobutton cis1">Cis1</button>
                <button type="submit" asp-route-key="d" class="whitepianobutton">D1</button>
                <button type="submit" asp-route-key="dis" class="blackpianobutton dis1">Dis1</button>
                <button type="submit" asp-route-key="e" class="whitepianobutton">E1</button>
                <button type="submit" asp-route-key="f" class="whitepianobutton">F1</button>
                <button type="submit" asp-route-key="fis" class="blackpianobutton fis1">Fis1</button>
                <button type="submit" asp-route-key="g" class="whitepianobutton">G1</button>
                <button type="submit" asp-route-key="gis" class="blackpianobutton gis1">Gis1</button>
                <button type="submit" asp-route-key="a" class="whitepianobutton">A1</button>
                <button type="submit" asp-route-key="b" class="blackpianobutton b1">B1</button>
                <button type="submit" asp-route-key="h" class="whitepianobutton">H1</button>
                <button type="submit" asp-route-key="c'" class="whitepianobutton">C2</button>
                <button type="submit" asp-route-key="cis'" class="blackpianobutton cis2">Cis2</button>
                <button type="submit" asp-route-key="d'" class="whitepianobutton">D2</button>
                <button type="submit" asp-route-key="dis'" class="blackpianobutton dis2">Dis2</button>
                <button type="submit" asp-route-key="e'" class="whitepianobutton">E2</button>
                <button type="submit" asp-route-key="f'" class="whitepianobutton">F2</button>
                <button type="submit" asp-route-key="fis'" class="blackpianobutton fis2">Fis2</button>
                <button type="submit" asp-route-key="g'" class="whitepianobutton">G2</button>
                <button type="submit" asp-route-key="gis'" class="blackpianobutton gis2">Gis2</button>
                <button type="submit" asp-route-key="a'" class="whitepianobutton">A2</button>
                <button type="submit" asp-route-key="b'" class="blackpianobutton b2">B2</button>
                <button type="submit" asp-route-key="h'" class="whitepianobutton">H2</button>
                <button type="submit" asp-route-key="c''" class="whitepianobutton">C3</button>
            </form>

        </div>
    </div>
</div>

<!-- ТАБЛИЦЯ РЕЗУЛЬТАТІВ -->



@if (Model.MatchedMelodies is not null && Model.MatchedMelodies.Count > 0 && Model.NoteSearch is true)
{
    <!--якщо пошук за нотами-->
    <p>@Model.Description</p>
    <table class="table">
        <thead>
            <tr>
                <th>Назва</th>
                <th>Файл</th>
                <th>Рік</th>
                <th>Автор</th>
                <th>Довжина збігу</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (item, matchLength) in Model.MatchedMelodies)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Filepath))
                        {
                            var filepath = Url.Content($"~/melodies/{item.Filepath}");
                            <div style="display:inline-flex">
                                <a href="@filepath" download class="btn btn-primary"><i class="fas fa-download"></i></a>
                                <form method="post">
                                    <button type="submit" asp-page-handler="Play" asp-route-path="@filepath" class="btn btn-success">
                                        <i class="fas fa-play"></i>
                                    </button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <span>Файл не доступний</span>
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Year)</td>
                    <td>@Html.DisplayFor(modelItem => item.Author.Name) @Html.DisplayFor(modelItem => item.Author.Surname)</td>
                    <td>@matchLength</td> @* Відображаємо довжину збігу *@
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Редагувати</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Детальна інформація</a>  |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Вилучити</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.Melody is not null && Model.Melody.Count >0 && Model.NoteSearch is false)
{
    <!--якщо пошук за назвами-->
    <p>@Model.Description</p>
    <table class="table">
        <thead>
            <tr>
                <th>Назва</th>
                <th>Файл</th>
                <th>Рік</th>
                <th>Автор</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Melody)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Filepath))
                        {
                            var filepath = Url.Content($"~/melodies/{item.Filepath}");
                            <div style="display:inline-flex">
                                <a href="@filepath" download class="btn btn-primary"><i class="fas fa-download"></i></a>
                                <form method="post">
                                    <button type="submit" asp-page-handler="Play" asp-route-path="@filepath" class="btn btn-success">
                                        <i class="fas fa-play"></i>
                                    </button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <span>Файл не доступний</span>
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Year)</td>
                    <td>@Html.DisplayFor(modelItem => item.Author.Name) @Html.DisplayFor(modelItem => item.Author.Surname)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Редагувати</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Детальна інформація</a>  |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Вилучити</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <!--якщо нічого не знайдено-->
    <p>@Model.Description</p>
}


<!-- АУДІО   -->

<div class="controlcontainer infocontainer">

    <p>@Model.Msg</p>
    <p>@Model.Errormsg</p>
    @if (TempData["AudioFile"] != null)
    {
        <p>@TempData["AudioFile"]</p>
        <audio id="audioPlayer" controls autoplay style="display: none">
            <source src="@TempData["AudioFile"]" type="audio/mpeg" />
            Your browser does not support the audio element.
        </audio>
    }
    else
    {
        <p>File is not ready</p>
    }
</div>

<script src="~/js/play.js">


</script>
<!--
    <script>
    // Отримуємо доступ до аудіо елемента та кнопок
    var audioPlayer = document.getElementById('audioPlayer');
    var stopButton = document.getElementById('stopButton');
    var playButton = document.getElementById('playButton');

    stopButton.onclick = function() {
        console.log(new Date().toLocaleString() + " playing stopped")
        audioPlayer.pause();
        audioPlayer.currentTime = 0;
        playButton.disabled = false;
    };

    audioPlayer.oncanplaythrough = function() {

        if (!audioPlayer.paused) {
            console.log(new Date().toLocaleString() + " ready to play file")
            playButton.disabled = true;
        }
    };


    audioPlayer.onpause = function() {
        console.log(new Date().toLocaleString() + " stop button disabled")
        stopButton.disabled = true;
    };



    audioPlayer.onplay = function() {
        console.log(new Date().toLocaleString() + " stop button disabled")
        stopButton.disabled = false;
    };


    playButton.onclick = function() {
        console.log(Date.now.toString() + " start to play file")
        audioPlayer.play();
        playButton.disabled = true; //
    };


</script>
-->