@page
@model Melodies25.Pages.Authors.DetailsModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Мелодія - автор";
    var Melodies = Model.Melody;
}

@section Styles {
    <link rel="stylesheet" href="~/css/melodies.details.css" asp-append-version="true" />
}

<div class="infocontainer melody-width hideformenu">
    <div class="spaceformenu"></div>
<h1>@Localizer["AuthorInfo"]</h1>

<div>
    <hr />
    <dl>
        
        <dd class="col-sm-10 ">
            @Html.DisplayFor(model => model.Author.Name) @Html.DisplayFor(model => model.Author.Surname)
            @if (Model.Author.DateOfBirth is not null)
            {
                <text>(@Html.DisplayFor(model => model.Author.DateOfBirth)
                    - @Html.DisplayFor(model => model.Author.DateOfDeath))
                </text>
            }        
        <br/>
            <span class="col-sm-10 smallfont">
            @Html.DisplayFor(model => model.Author.NameEn) @Html.DisplayFor(model => model.Author.SurnameEn)
        </span>
        </dd>
    </dl>
    <dl class="row">        
        <dd class="col-sm-10 smallfont">
                @Localizer["CompositionsOnSite"] @Html.DisplayFor(model => model.Author.MelodiesCount);
        </dd>
    </dl>
    <dl class="row">
        <dt></dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Description)
        </dd>
    </dl>
</div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Title"]
            </th>
            <th>
                @Localizer["File"]
            </th>
            <th>@Localizer["Edit/Delete"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Melody)
        {
            <tr>
                <!--НАЗВА-->
                <td>

                    <a asp-page="../Melodies/Details" asp-route-id="@item.ID" class="link-dark">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <!--ФАЙЛ-->
                <td>
                    @if (!string.IsNullOrEmpty(item.FilePath))
                    {
                        var midifilepath = Url.Content($"~/melodies/{item.FilePath}");
                        var mp3filepath = Url.Content($"~/mp3/{item.Mp3Filepath}");
                        <div style="display:inline-flex">
                            <a href="@midifilepath" download class="btn btn-outline-dark light-background">
                                <i class="fas fa-download"></i>
                            </a>
                            @if (@item.IsFileEligible is null)
                            {
                                <button class="btn btn-outline-dark light-background playButton"
                                        data-filepath="@item.FilePath" id="playButton_@item.FilePath">
                                    <i class="fas fa-play">?</i>
                                </button>
                                <button id="stopButton_@item.FilePath" disabled="disabled"
                                        class="stopButton btn btn-outline-dark light-background">
                                    <i class="fas fa-stop">?</i>
                                </button>
                            }
                            else if (@item.IsFileEligible is true)
                            {
                                <button class="btn btn-outline-dark light-background playButton"
                                        data-filepath="@item.FilePath" id="playButton_@item.FilePath">
                                    <i class="fas fa-play"></i>
                                </button>
                                <button id="stopButton_@item.FilePath" disabled="disabled"
                                        class="stopButton btn btn-outline-dark light-background">
                                    <i class="fas fa-stop"></i>
                                </button>
                            }
                            else if (@item.IsFileEligible is false)
                            {
                                <p>Midi File is not correct</p>
                            }
                            <audio id="audioPlayer_@item.FilePath" class="audioPlayer" controls style="display: none">
                                <source src="@mp3filepath" type="audio/mpeg" />
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                    }
                    else
                    {
                        <span>Файл @item.FilePath не доступний</span>
                    }
                </td>

                <td>
                    <a asp-page="../Melodies/Edit" asp-route-id="@item.ID" class="link-dark" title="@Localizer["Edit"]" aria-label="@Localizer["Edit"]"><i class="fas fa-edit"></i></a>
                    <a asp-page="../Melodies/Delete" asp-route-id="@item.ID" class="link-danger" style="margin-left:50px" title="@Localizer["Delete"]" aria-label="@Localizer["Delete"]"><i class="fas fa-remove"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>



<div class="infocontainer actions-container melody-width">
    <div class="actions-row">
        <a asp-page="./Edit" asp-route-id="@Model.Author.ID" class="btn btn-outline-dark light-background link-dark">@Localizer["Edit"]</a>
        <a asp-page="./Index" class="btn btn-outline-dark light-background link-dark">@Localizer["BackToList"]</a>
    </div>
</div>
<script src="~/js/play.js">

</script>