@page
@model Melodies25.Pages.Authors.DetailsModel

@{
    ViewData["Title"] = "Мелодія - автор";
}

<h1>Інформація про автора</h1>

<div>
    <hr />
    <dl class="row">
        @if (Model.Author.Name is not null)
        {
            <dt class="col-sm-2">
                Прізвище
            </dt>
        }
        else
        {
            <dt> - </dt>
        }
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Surname)
        </dd>
        @if (Model.Author.Name is not null)
        {
            <dt class="col-sm-2">
                Ім'я
            </dt>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author.Name)
            </dd>
        }
        @if (Model.Author.DateOfBirth is not null)
        {
            <dt class="col-sm-2">
                Роки життя
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author.DateOfBirth) -
                @Html.DisplayFor(model => model.Author.DateOfDeath)
            </dd>
        }
        <dt class="col-sm-2">
            Творів на сайті
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.MelodiesCount);
        </dd>
        <dt></dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Author.ID">Редагуватти</a> |
    <a asp-page="./Index">Назад до списку</a>
</div>
