@page
@model Melodies25.Pages.Authors.DetailsModel

@{
    ViewData["Title"] = "Мелодія - автор";
    var Melodies = Model.Melody;
}

<h1>Інформація про автора</h1>

<div>
    <hr />
    <dl class="row">
        
        <dd class="col-sm-10 ">
            @Html.DisplayFor(model => model.Author.Name) @Html.DisplayFor(model => model.Author.Surname)
            @if (Model.Author.DateOfBirth is not null)
            {
                <text>(@Html.DisplayFor(model => model.Author.DateOfBirth)
                    - @Html.DisplayFor(model => model.Author.DateOfDeath))
                </text>
            }        
        <br/>
            <span class="col-sm-10 smallfont">
            @Html.DisplayFor(model => model.Author.NameEn) @Html.DisplayFor(model => model.Author.SurnameEn)
        </span>
        </dd>
    </dl>
    <dl class="row">        
        <dd class="col-sm-10 smallfont">
            Творів на сайті: @Html.DisplayFor(model => model.Author.MelodiesCount);
        </dd>
    </dl>
    <dl class="row">
        <dt></dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Description)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th>
                Файл
            </th>
            <th>Редагувати/Вилучити</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Melody)
        {
            <tr>
                <!--НАЗВА-->
                <td>

                    <a asp-page="../Melodies/Details" asp-route-id="@item.ID" class="link-dark">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <!--ФАЙЛ-->
                <td>
                    @if (!string.IsNullOrEmpty(item.FilePath))
                    {
                        var midifilepath = Url.Content($"~/melodies/{item.FilePath}");
                        var mp3filepath = Url.Content($"~/mp3/{item.Mp3Filepath}");
                        <div style="display:inline-flex">
                            <a href="@midifilepath" download class="btn btn-outline-dark light-background">
                                <i class="fas fa-download"></i>
                            </a>
                            @if (@item.IsFileEligible is null)
                            {
                                <button class="btn btn-outline-dark light-background playbutton"
                                        data-filepath="@item.FilePath" id="playButton_@item.FilePath">
                                    <i class="fas fa-play">?</i>
                                </button>
                                <button id="stopButton_@item.FilePath" disabled="disabled"
                                        class="stopButton btn btn-outline-dark light-background">
                                    <i class="fas fa-stop">?</i>
                                </button>
                            }
                            else if (@item.IsFileEligible is true)
                            {
                                <button class="btn btn-outline-dark light-background playbutton"
                                        data-filepath="@item.FilePath" id="playButton_@item.FilePath">
                                    <i class="fas fa-play"></i>
                                </button>
                                <button id="stopButton_@item.FilePath" disabled="disabled"
                                        class="stopButton btn btn-outline-dark light-background">
                                    <i class="fas fa-stop"></i>
                                </button>
                            }
                            else if (@item.IsFileEligible is false)
                            {
                                <p>Midi File is not correct</p>
                            }
                            <audio id="audioPlayer_@item.FilePath" class="audioPlayer" controls style="display: none">
                                <source src="@mp3filepath" type="audio/mpeg" />
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                    }
                    else
                    {
                        <span>Файл не доступний</span>
                    }
                </td>

                <td>
                    <a asp-page="../Melodies/Edit" asp-route-id="@item.ID" class="link-dark"><i class="fas fa-edit"></i></a>
                    <a asp-page="../Melodies/Delete" asp-route-id="@item.ID" class="link-danger" style="margin-left:50px"><i class="fas fa-remove"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>



<div style="margin-bottom: 50px">
    <a asp-page="./Edit" asp-route-id="@Model.Author.ID">Редагуватти</a> |
    <a asp-page="./Index">Назад до списку</a>
</div>
<script src="~/js/play.js">

</script>