@page
@model Melodies25.Pages.Authors.IndexModel

@{
    ViewData["Title"] = "Мелодія - автори";
}

<h1>Автори</h1>

<p>
    <a asp-page="Create">Створити автора</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Автор
            </th>
            <th>
                Роки життя
            <th>
                Країна
            </th>
            <th>
                Мелодій на сайті
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Author) {
        <tr>
            <td>
                    <a asp-page="./Details" asp-route-id="@item.ID" class="link-dark">@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)</a>
                
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth) - @Html.DisplayFor(modelItem => item.DateOfDeath)
            </td>
            <td>
                    @(item.Country != null ? item.Country.Name : "Немає даних")
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.MelodiesCount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID" class="link-dark">Редагувати</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID" class="link-danger">Вилучити</a> 
            </td>
        </tr>
}
    </tbody>
</table>
