@page
@model Melodies25.Pages.Authors.IndexModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Мелодія - автори";
    var lng = Model.SelectedLang;
}
<div class="infocontainer melody-width hideformenu">
    <div class="spaceformenu"></div>
    <h1>@Localizer["AuthorsInDatabase", Model.Author.Count]</h1>
    <div style="display:inline">

        <a asp-page="Create" class="btn-melody">@Localizer["AddAuthor"]</a>

        <form method="post" asp-page-handler="translit" style="display:inline">
            <button type="submit" class="btn-melody m-4">@Localizer["Update"]</button>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.SurnameSort"
                   asp-route-SelectedLang="@Model.SelectedLang"
                   class="link-light">
                    @Localizer["AuthorColumn"] @(Model.SurnameSort == "surname_asc" ? "▲" : "▼")
                </a>
            </th>
            <th class="d-none d-md-flex">@Localizer["YearsOfLife"]</th>
            <th>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.CountrySort"
                   asp-route-SelectedLang="@Model.SelectedLang"
                   class="link-light">
                    @Localizer["Country"] @(Model.CountrySort == "country_asc" ? "▲" : "▼")
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.MelodiesCountSort"
                   asp-route-SelectedLang="@Model.SelectedLang"
                   class="link-light">
                    @Localizer["MelodiesOnSite"] @(Model.MelodiesCountSort == "melody_asc" ? "▲" : "▼")
                </a>
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
            {
                <th>@Localizer["EditDelete"]</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Author)
        {
            <tr>
                <td>
                    @if (lng == "uk")
                    {
                        <a asp-page="./Details" asp-route-id="@item.ID" class="link-dark">@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)</a>
                    }
                    else
                    {
                        <a asp-page="./Details" asp-route-id="@item.ID" class="link-dark">@Html.DisplayFor(modelItem => item.NameEn) @Html.DisplayFor(modelItem => item.SurnameEn)</a>
                    }
                </td>
                <td class="d-none d-md-flex">
                    @Html.DisplayFor(modelItem => item.DateOfBirth) - @Html.DisplayFor(modelItem => item.DateOfDeath)
                </td>
                <td>
                    @if (lng == "uk")
                    {
                        <a asp-page="../Countries/Details" asp-route-id="@item.Country?.ID" class="link-dark">
                        @(item.Country != null ? item.Country.Name : Localizer["NoData"])</a>
                    }
                    else
                    {
                        @(item.Country != null ? item.Country.NameEn : Localizer["Unknown"])
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MelodiesCount)
                </td>
                @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID" class="link-dark"><i class="fas fa-edit"></i></a>
                        <a asp-page="./Delete" asp-route-id="@item.ID" class="link-danger" style="margin-left:50px"><i class="fas fa-remove"></i></a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

