@page
@model Melodies25.Pages.Authors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Автор
            </th>
            <th>
                Роки життя
            <th>
                Країна
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Author) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)           
                
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth) - @Html.DisplayFor(modelItem => item.DateOfDeath)
            </td>
            <td>
                    @(item.Country != null ? item.Country.Name : "Немає даних")
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Редагувати</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Детальна інформація</a>  |
                <a asp-page="./Delete" asp-route-id="@item.ID">Вилучити</a> 
            </td>
        </tr>
}
    </tbody>
</table>
