@page
@model Melodies25.Pages.Authors.IndexModel

@{
    ViewData["Title"] = "Мелодія - автори";
}

<h1>Авторів у базі даних - @Model.Author.Count</h1>
<div style="display:inline">

    <a asp-page="Create"
       class="btn btn-outline-dark light-background border-dark">
        Додати автора
    </a>

    <form method="post" asp-page-handler="translit" style="display:inline">
        <button type="submit" class="btn btn-outline-dark light-background border-dark m-4">
            Оновити
        </button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.SurnameSort" class="link-light">
                    Автор @(Model.SurnameSort == "title_asc" ? "▲" : "▼")
                </a>
            </th>
            <th>
                Роки життя
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CountrySort" class="link-light">
                    Країна  @(Model.SurnameSort == "surname_asc" ? "▲" : "▼")
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.MelodiesCountSort" class="link-light">
                    Мелодій на сайті  @(Model.SurnameSort == "melody_asc" ? "▲" : "▼")
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Author) {
        <tr>
            <td>
                    <a asp-page="./Details" asp-route-id="@item.ID" class="link-dark">@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)</a>
                
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth) - @Html.DisplayFor(modelItem => item.DateOfDeath)
            </td>
            <td>
                    @(item.Country != null ? item.Country.Name : "Немає даних")
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.MelodiesCount)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="link-dark"><i class="fas fa-edit"></i></a>
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="link-danger" style="margin-left:50px"><i class="fas fa-remove"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
