@page
@model Melodies25.Pages.Countries.DetailsModel

@{
    ViewData["Title"] = "Мелодія - країни";
}

@section Styles {
    <link rel="stylesheet" href="~/css/melodies.details.css" asp-append-version="true" />
}

<div class="infocontainer melody-width">
<h1>@Model.Country.Name</h1>

<div>
    <p>Авторів на сайті - @Model.Author.Count</p>
    <hr />

</div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
               Автор                            
            </th>
            <th>
                Роки життя
            </th>
            <th>
                Мелодій у базі даних
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Author)
        {
            <tr>
                <td>
                    <a asp-page="../Authors/Details" asp-route-id="@item.ID" class="link-dark">@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)</a>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth) - @Html.DisplayFor(modelItem => item.DateOfDeath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MelodiesCount)
                </td>
                <td>
                    <a asp-page="../Author/Edit" asp-route-id="@item.ID" class="link-dark"><i class="fas fa-edit"></i></a>
                    <a asp-page="../Author/Delete" asp-route-id="@item.ID" class="link-danger" style="margin-left:50px"><i class="fas fa-remove"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="infocontainer actions-container melody-width">
    <div class="actions-row">
        <a asp-page="./Edit" asp-route-id="@Model.Country.ID" class="btn btn-outline-dark light-background link-dark">Редагувати</a>
        <a asp-page="./Index" class="btn btn-outline-dark light-background link-dark">Назад до списку</a>
    </div>
</div>
