@page
@model Melodies25.Pages.Countries.DetailsModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Мелодія - країни";
}

@section Styles {
    <link rel="stylesheet" href="~/css/melodies.details.css" asp-append-version="true" />
}

<div class="infocontainer melody-width hideformenu">
    <div class="spaceformenu"></div>
<h1>@Model.Country.Name</h1>
<h4>@Model.Country.NameEn</h4>

<div>
    <p>@Localizer["AuthorsOnSite", Model.Author.Count]</p>
    <hr />

</div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
               @Localizer["Author"]                          
            </th>
            <th>
                @Localizer["LifeYears"]
            </th>
            <th>
                @Localizer["MelodiesInDatabase"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Author)
        {
            <tr>
                <td>
                    <a asp-page="../Authors/Details" asp-route-id="@item.ID" class="link-dark">@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)</a>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth) - @Html.DisplayFor(modelItem => item.DateOfDeath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MelodiesCount)
                </td>
                <td>
                    <a asp-page="../Author/Edit" asp-route-id="@item.ID" class="link-dark" title="@Localizer["Edit"]" aria-label="@Localizer["Edit"]"><i class="fas fa-edit"></i></a>
                    <a asp-page="../Author/Delete" asp-route-id="@item.ID" class="link-danger" style="margin-left:50px" title="@Localizer["Delete"]" aria-label="@Localizer["Delete"]"><i class="fas fa-remove"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="infocontainer actions-container melody-width">
    <div class="actions-row">
        <a asp-page="./Edit" asp-route-id="@Model.Country.ID" class="btn btn-outline-dark light-background link-dark">@Localizer["Edit"]</a>
        <a asp-page="./Index" class="btn btn-outline-dark light-background link-dark">@Localizer["BackToList"]</a>
    </div>
</div>
