@page
@model Melodies25.Pages.Countries.IndexModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Мелодія - країни";
    var lng = Model.SelectedLang;
}

<div class="infocontainer melody-width hideformenu">
    <div class="spaceformenu"></div>
    <h1>@Localizer["CountriesInDatabase", Model.Country.Count]</h1>

    <p>
        <a asp-page="Create"
           class="btn btn-outline-dark light-background border-dark m-4">
            @Localizer["AddCountry"]
        </a>
    </p>
</div>

<!-- Use the same melody-width container to keep widths identical and centered -->
<div class="melody-width">
    <div class="spaceformenu"></div>
    <table class="table w-100">
        <thead>
            <tr>
                <th class="w-50">
                    @Localizer["Country"]
                </th>
                <th class="w-25">
                    @Localizer["Authors"]
                </th>
                <th class="w-25">
                    @Localizer["Melodies"]
                </th>
                @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                    <th class="w-50">@Localizer["EditDelete"]</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Country)
            {
                <tr>
                    <td>
                        @if (lng == "uk")
                        {
                            <a asp-page="./Details" asp-route-id="@item.ID" class="link-dark">@Html.DisplayFor(modelItem => item.Name)</a>
                        }
                        else
                        {

                            <a asp-page="./Details" asp-route-id="@item.ID" class="link-dark">@Html.DisplayFor(modelItem => item.NameEn)</a>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorsCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MelodiesCount)
                    </td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.ID" class="link-dark" title="@Localizer["Edit"]" aria-label="@Localizer["Edit"]"><i class="fas fa-edit"></i></a>
                            <a asp-page="./Delete" asp-route-id="@item.ID" class="link-danger" style="margin-left:50px" title="@Localizer["Delete"]" aria-label="@Localizer["Delete"]"><i class="fas fa-remove"></i></a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
