@page
@model Melodies25.Pages.Countries.IndexModel

@{
    ViewData["Title"] = "Мелодія - країни";
}

<div class="infocontainer melody-width">
<h1>Країн у базі даних - @Model.Country.Count</h1>

<p>
    <a asp-page="Create"
       class="btn btn-outline-dark light-background border-dark m-4">
       Додати країну</a>
</p>
</div>

<!-- Use the same melody-width container to keep widths identical and centered -->
<div class="melody-width">
    <table class="table w-100">
        <thead>
            <tr>
                <th class="w-50">
                   Назва
                </th>
                <th class="w-25">
                    Авторів у базі даних
                </th>
                <th class="w-25">
                    Мелодій у базі даних
                </th>
                @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                    <th class="w-50">Редагування/Вилучення</th>
                }
            </tr>
        </thead>
        <tbody>
@foreach (var item in Model.Country) {
            <tr>
                <td>
                       <a asp-page="./Details" asp-route-id="@item.ID" class="link-dark">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorsCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MelodiesCount)
                    </td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.ID" class="link-dark"><i class="fas fa-edit"></i></a>
                            <a asp-page="./Delete" asp-route-id="@item.ID" class="link-danger" style="margin-left:50px"><i class="fas fa-remove"></i></a>
                        </td>
                    }
            </tr>
}
        </tbody>
    </table>
</div>
