@page
@model Melodies25.Pages.Countries.IndexModel

@{
    ViewData["Title"] = "Мелодія - країни";
}

<h1>Країни</h1>

<p>
    <a asp-page="Create"
       class="btn btn-outline-dark light-background border-dark">>
       Додати країну</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Country) {
        <tr>
            <td>
                    <a asp-page="./Details" asp-route-id="@item.ID" class="link-dark">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="link-dark">Редагуватти</a> |                    
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="link-danger">Вилучити</a>
            </td>
        </tr>
}
    </tbody>
</table>
